{% extends 'base.html' %}

{% block breadcrumb %}
<li id="orbit"><a href="{%url 'asset:materials' %}">设备列表</a></li>
{% endblock %}

{% block maincontent %}
<div id="data" class="col-md-10 col-md-offset-1">
    <table id='dataTable' class='table table-bordered table-hover' cellspacing='0' width='100%'>
        <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>所属分类</th>
                <th>数量</th>
                <th>库房</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
        {% if object_list %}
        {% for m in object_list %}
        <tr>
            <th>{{ m.id }}</th>
            <th>{{ m.name.name }}</th>
            <th>{{ m.classification.name }}</th>
            <th>{{ m.amount }}</th>
            <th>{{ m.warehouse.name }}</th>
            <th>{{ m.description }}</th>
            <th>
                <div class="hidden-sm hidden-xs btn-group">
                    <a class="btn btn-xs btn-info" href="{% url 'asset:edit_material' m.id %}">
                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                    </a>

                    <a class="btn btn-xs btn-danger" href="{% url 'asset:delete_material' m.id %}">
                        <i class="ace-icon fa fa-trash-o bimgger-120"></i>
                    </a>
                </div>
            </th>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <th><strong>There are no materials present.</strong></th>
        </tr>
        {% endif %}
        <tfoot>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>所属分类</th>
                <th>数量</th>
                <th>库房</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/scripts/mainInit/material.js"></script>
{% endblock %}