<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    {% load bootstrap3 %}
    {% bootstrap_messages %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static 'image/fa.png' %}" />

    <title>
        {% block title %}
        一个小型的基于Django和Bootstrap的库存管理系统
        {% endblock %} -- 库存管理系统
    </title>

    <meta name="keywords" content="库存管理,Bootstrap" />
    <meta name="description" content="使用django+bootstrap技术开发的库存管理系统" />
    <!-- basic styles -->
    {% include "css.html "%}
</head>

<body class="no-skin">
    <!-- Static navbar -->
    <nav id="navbar" class="navbar navbar-default ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                <a href="index.html" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        库存管理系统
                    </small>
                </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" id="basicInfo" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="icon-bullhorn"></i> <span class="menu-text"> 基本信息 </span>
                            <b class="arrow icon-angle-down"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li id="wordbooksInfo">
                                <a href="{%url 'basic:wordbooks' %}"> <i class="icon-double-angle-right"></i> 词条信息 </a>
                            </li>
                            <li id="warehousesInfo">
                                <a href="{%url 'basic:warehouses' %}"> <i class="icon-double-angle-right"></i> 库房信息 </a>
                            </li>
                            <li id="employeesInfo">
                                <a href="{%url 'user:profiles' %}"> <i class="icon-double-angle-right"></i> 员工信息 </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="basicInfo" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="icon-bullhorn"></i> <span class="menu-text"> 设备材料 </span>
                            <b class="arrow icon-angle-down"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li id="devicesInfo">
                                <a href="{%url 'asset:devices' %}"> <i class="icon-double-angle-right"></i> 设备信息 </a>
                            </li>
                            <li id="meterialsInfo">
                                <a href="{%url 'asset:materials' %}"> <i class="icon-double-angle-right"></i> 材料信息 </a>
                            </li>
                        </ul>
                    </li>
                    <li id="stockInsInfo">
                        <a href="#" id="basicInfo" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="icon-bullhorn"></i> <span class="menu-text"> 入库信息 </span>
                            <b class="arrow icon-angle-down"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li id="dstockinInfo">
                                <a href="{%url 'stock:deviceins' %}"> <i class="icon-double-angle-right"></i> 设备入库 </a>
                            </li>
                            <li id="mstockinInfo">
                                <a href="/meterial/stockin.html"> <i class="icon-double-angle-right"></i> 材料入库 </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false"><i class="icon-list-alt"></i> <span class="menu-text">
                                设备出库 </span> <b class="arrow icon-angle-down"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li id="deviceApplicationsInfo"><a href="/stocks/application.html"> <i
                                        class="icon-double-angle-right"></i> 设备申请单
                                </a></li>
                            {% if leader %}
                            <li id="deviceApprovesInfo" role="2"><a href="/stocks/approve.html"> <i
                                        class="icon-double-angle-right"></i> 申请单审批
                                </a></li>
                            {% endif %}
                            {% if manager %}
                            <li id="stockOutInfo" role="4"><a href="/stocks/stockout.html"> <i
                                        class="icon-double-angle-right"></i> 设备出库
                                </a></li>
                            <li id="stockOutInfo" role="4"><a href="/meterial/stockout.html"> <i
                                        class="icon-double-angle-right"></i> 材料出库
                                </a></li>
                            {% endif %}
                            <!--
                            <li id="applicantConfirm"><a href="/stocks/confirm.html"> <i
                                    class="icon-double-angle-right"></i> 申请人确认
                            </a></li> -->
                        </ul>
                    </li>
                    <li id="search">
                        <a href="/stocks/search.html"><i class="icon-search"></i><span class="menu-text"> 搜索 </span></a>
                    </li>
                </ul>

                <div class="navbar-buttons navbar-header pull-right" role="navigation">
                    <ul class="nav ace-nav">
                        <li class="grey dropdown-modal">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="ace-icon fa fa-tasks"></i>
                                <span class="badge badge-grey">4</span>
                            </a>

                            <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                                <li class="dropdown-header">
                                    <i class="ace-icon fa fa-check"></i>
                                    4 Tasks to complete
                                </li>

                                <li class="dropdown-content">
                                    <ul class="dropdown-menu dropdown-navbar">
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">Software Update</span>
                                                    <span class="pull-right">65%</span>
                                                </div>

                                                <div class="progress progress-mini">
                                                    <div style="width:65%" class="progress-bar"></div>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">Hardware Upgrade</span>
                                                    <span class="pull-right">35%</span>
                                                </div>

                                                <div class="progress progress-mini">
                                                    <div style="width:35%" class="progress-bar progress-bar-danger">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">Unit Testing</span>
                                                    <span class="pull-right">15%</span>
                                                </div>

                                                <div class="progress progress-mini">
                                                    <div style="width:15%" class="progress-bar progress-bar-warning">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">Bug Fixes</span>
                                                    <span class="pull-right">90%</span>
                                                </div>

                                                <div class="progress progress-mini progress-striped active">
                                                    <div style="width:90%" class="progress-bar progress-bar-success">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown-footer">
                                    <a href="#">
                                        See tasks with details
                                        <i class="ace-icon fa fa-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="purple dropdown-modal">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                                <span class="badge badge-important">8</span>
                            </a>

                            <ul
                                class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                                <li class="dropdown-header">
                                    <i class="ace-icon fa fa-exclamation-triangle"></i>
                                    8 Notifications
                                </li>

                                <li class="dropdown-content">
                                    <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                                        New Comments
                                                    </span>
                                                    <span class="pull-right badge badge-info">+12</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="btn btn-xs btn-primary fa fa-user"></i>
                                                Bob just signed up as an editor ...
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i
                                                            class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                                                        New Orders
                                                    </span>
                                                    <span class="pull-right badge badge-success">+8</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
                                                        Followers
                                                    </span>
                                                    <span class="pull-right badge badge-info">+11</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown-footer">
                                    <a href="#">
                                        See all notifications
                                        <i class="ace-icon fa fa-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="green dropdown-modal">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                                <span class="badge badge-success">5</span>
                            </a>

                            <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                                <li class="dropdown-header">
                                    <i class="ace-icon fa fa-envelope-o"></i>
                                    5 Messages
                                </li>

                                <li class="dropdown-content">
                                    <ul class="dropdown-menu dropdown-navbar">
                                        <li>
                                            <a href="#" class="clearfix">
                                                <img src="{% static 'image/avatars/avatar.png'%}" class="msg-photo"
                                                    alt="Alex's Avatar" />
                                                <span class="msg-body">
                                                    <span class="msg-title">
                                                        <span class="blue">Alex:</span>
                                                        Ciao sociis natoque penatibus et auctor ...
                                                    </span>

                                                    <span class="msg-time">
                                                        <i class="ace-icon fa fa-clock-o"></i>
                                                        <span>a moment ago</span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="clearfix">
                                                <img src="{% static 'image/avatars/avatar3.png'%}" class="msg-photo"
                                                    alt="Susan's Avatar" />
                                                <span class="msg-body">
                                                    <span class="msg-title">
                                                        <span class="blue">Susan:</span>
                                                        Vestibulum id ligula porta felis euismod ...
                                                    </span>

                                                    <span class="msg-time">
                                                        <i class="ace-icon fa fa-clock-o"></i>
                                                        <span>20 minutes ago</span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="clearfix">
                                                <img src="{% static 'image/avatars/avatar4.png'%}" class="msg-photo"
                                                    alt="Bob's Avatar" />
                                                <span class="msg-body">
                                                    <span class="msg-title">
                                                        <span class="blue">Bob:</span>
                                                        Nullam quis risus eget urna mollis ornare ...
                                                    </span>

                                                    <span class="msg-time">
                                                        <i class="ace-icon fa fa-clock-o"></i>
                                                        <span>3:15 pm</span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="clearfix">
                                                <img src="{% static 'image/avatars/avatar2.png'%}" class="msg-photo"
                                                    alt="Kate's Avatar" />
                                                <span class="msg-body">
                                                    <span class="msg-title">
                                                        <span class="blue">Kate:</span>
                                                        Ciao sociis natoque eget urna mollis ornare ...
                                                    </span>

                                                    <span class="msg-time">
                                                        <i class="ace-icon fa fa-clock-o"></i>
                                                        <span>1:33 pm</span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="clearfix">
                                                <img src="{% static 'image/avatars/avatar5.png'%}" class="msg-photo"
                                                    alt="Fred's Avatar" />
                                                <span class="msg-body">
                                                    <span class="msg-title">
                                                        <span class="blue">Fred:</span>
                                                        Vestibulum id penatibus et auctor ...
                                                    </span>

                                                    <span class="msg-time">
                                                        <i class="ace-icon fa fa-clock-o"></i>
                                                        <span>10:09 am</span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown-footer">
                                    <a href="inbox.html">
                                        See all messages
                                        <i class="ace-icon fa fa-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="light-blue dropdown-modal">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <img class="nav-user-photo" src="{% static 'image/avatars/user.jpg'%}"
                                    alt="Jason's Photo" />
                                <span class="user-info">
                                    <small>Welcome,</small>
                                    Jason
                                </span>

                                <i class="ace-icon fa fa-caret-down"></i>
                            </a>

                            <ul
                                class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                <li>
                                    <a href="#">
                                        <i class="ace-icon fa fa-cog"></i>
                                        Settings
                                    </a>
                                </li>

                                <li>
                                    <a href="profile.html">
                                        <i class="ace-icon fa fa-user"></i>
                                        Profile
                                    </a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a href="#">
                                        <i class="ace-icon fa fa-power-off"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>
        <div class="main-container-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>
                    {% block breadcrumb %}{% endblock %}
                </ul><!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input"
                                autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>
            <div class="main-content">
                <div class="page-content">
                    <div class="row">
                        <div class="col-xs-12">
                            {% block maincontent %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="changePasswordModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">密码修改</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group col-md-12">
                            <label for="oldPassword" class="col-sm-3 control-label">原密码：</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="oldPassword" placeholder="原密码">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="password" class="col-sm-3 control-label">新密码：</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password" placeholder="新密码">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="passwordagain" class="col-sm-3 control-label">再次输入：</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="passwordagain" placeholder="请再次输入">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="changePasswordButton" type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    {% block devicetype %}{% endblock %}
    {% block devicebrand %}{% endblock %}
    {% block devicemodel %}{% endblock %}
    {% block brokentype %}{% endblock %}
    {% block subunit %}{% endblock %}

    {% include "javascript.html" %}

    {% block script %}{% endblock %}
</body>

</html>