{% extends 'base.html' %}

{% block title %}
字典列表
{% endblock %}

{% block breadcrumb %}
<li id="orbit"><a href="{%url 'basic:wordbooks' %}">字典列表</a></li>
{% endblock %}

{% block maincontent %}
<div id="data" class="col-md-10 col-md-offset-1">
	<table id='dataTable' class='table table-bordered table-hover' cellspacing='0' width='100%'>
		<thead>
			<tr>
				<th>ID</th>
				<th>名称/型号/序列号</th>
				<th>入库人</th>
				<th>所在库房</th>
				<th>备注</th>
				<th>操作</th>
			</tr>
		</thead>
		{% if object_list %}
		{% for d in object_list %}
		<tr>
			<th>{{ d.id }}</th>
			<th>{{ d.device.get_device_display }}</th>
			<th>{{ d.employee }}</th>
			<th>{{ d.warehouse }}</th>
			<th>{{ d.description }}</th>
			<th>
				<div class="hidden-sm hidden-xs btn-group">
					<a class="btn btn-xs btn-info" href="{% url 'asset:edit_device' d.id %}">
						<i class="ace-icon fa fa-pencil bigger-120"></i>
					</a>

					<a class="btn btn-xs btn-danger" href="{% url 'asset:delete_device' d.id %}">
						<i class="ace-icon fa fa-trash-o bigger-120"></i>
					</a>
				</div>
			</th>
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<th><strong>There are no devices present.</strong></th>
		</tr>
		{% endif %}
	</table>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/scripts/mainInit/warehouse.js"></script>
{% endblock %}