{% extends 'stock/base_stocks.html' %}

{% title %}
库房列表
{% endblock %}

{% block breadcrumb %}
<li id="home"><a href="/stocks/main.html">主页</a></li>
<li id="orbit"><a href="/stocks/warehouse.html">库房信息</a></li>
{% endblock %}

{% block maincontent %}
<div id="data">
	<table id='dataTable' class='display' cellspacing='0' width='100%'>
		<thead>
			<tr>
				<th>ID</th>
				<th>仓库名称</th>
				<th>位置</th>
				<th>备注</th>
				<th>
					<div class="hidden-sm hidden-xs btn-group">
						<a class="btn btn-xs btn-info" href="{% url 'SaveWarehouse' w.id %}">
							<i class="ace-icon fa fa-pencil bigger-120"></i>
						</a>

						<a class="btn btn-xs btn-danger" href="{% url 'DeleteWarehouse' w.id %}">
							<i class="ace-icon fa fa-trash-o bigger-120"></i>
						</a>
					</div>
				</th>
			</tr>
		</thead>
		{% if warehouses %}
		{% for w in warehouses %}
		<tr>
			<th>{{ w.id }}</th>
			<th>{{ w.name }}</th>
			<th>{{ w.location }}</th>
			<th>{{ w.description }}</th>
			<th>操作</th>
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<th><strong>There are no warehouses present.</strong></th>
		</tr>
		{% endif %}
		<tfoot>
			<tr>
				<th>ID</th>
				<th>仓库名称</th>
				<th>位置</th>
				<th>备注</th>
				<th>操作</th>
			</tr>
		</tfoot>
	</table>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/scripts/mainInit/warehouse.js"></script>
{% endblock %}